# OS files
.DS_Store
Thumbs.db

# Kubeconfig and local cluster configs
*.kubeconfig
kubeconfig*
.kube/

# Temporary and editor files
*.swp
*~
.idea/
.vscode/

# Local/private Helm overrides
*local-values.yaml
.helm/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*override.tf
*override.tf.json
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
*.tfvars

